<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        id        = "fcm.com.scknss.www"
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->

    <name>Full Circle Mag Experiment</name>

    <description>
        Experimenting a Full Circle MAgazine example - media and content belongs to Full Circle MAgazine  - see fullcirclemag.co.za
    </description>

    <author href="http://www.scknss.com" email="emile@scknss.com">
        Emile
    </author>
    
    <preference name="orientation" value="portrait" />
    <preference name="phonegap-version" value="2.7.0" />
    
    <access origin="*" />
    
</widget>